# AppVeyor Configuration

platform: Any CPU

os: Visual Studio 2017

configuration:
- Release

before_build:
- dotnet restore Trinket.Api.sln

build:
  project: Trinket.Api.sln

#after_test:
#  - ssh -i ssh/hubapps.pem hubapps@hubapps.eastus2.cloudapp.azure.com "cd /apps/trinket && sudo sh deploy-staging"